body{
    margin:0px;
    text-align: center;
    /* font-family: 'Pattaya', sans-serif; */
    /* font-family: 'Dancing Script', cursive; */
}
.top-container {
    background-color: #4ca1a3;
    position: relative;
    padding-top: 220px;
    /* width: 200px;
    height:200px;
    border: 10px solid black;
    padding:20px; */

    
}
h1{
    /* width:10%; */
    margin: 0px; 
    padding: 0px;
    font-size: 562.5%;
    color: #114e60;
    font-family: 'Dancing Script', cursive;
    
}
h2{
    font-size: 2.5rem;
    font-family: 'Newsreader', serif;
    color: #114e60;
}
.des{
    font-weight: normal;
}
h3{
    font-size: 2.5rem;
    /* font-family: 'Newsreader', serif; */
    color: #114e60;
}
p{
    font-size: 27px;
}
a:link, a:visited {
    /* color: white; */
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
.mid-container{
    /* background-color: red;
    width: 200px;
    height:200px; */
    /* width | style | color */
/* border: 20px solid black;
margin-left: 260px; */

}
.bottom-container{
    /* background-color: blue;
    width: 200px;
    height: 200px; */
    /* border: 10px solid black;
    margin-left: 500px; */

    margin-top: 30px;
    padding: 30px 0px 30px 0px;
    background-color: #4ca1a3;
}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 200px;
}
.skill-row{
    width: 50%;
    margin: 0px auto 100px auto;
    text-align: left;
}
.cpp{
    width:14%;
    margin-right: 30px;
    float: left;
}
.dsalgo{
    width:14%;
    margin-right: 30px;
    float: left;
}
hr{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    margin-top: 70px;
    margin-bottom: 70px;
    border-top-color: gray;
    border-width: 5px ;
}
.myimg{
    margin-top: 40px;
}
.btn{
    background-color: #114e60;
    font-size: 25px;
    color: white;
    border-style: solid;
   
}
.btn:hover{
    background-color:#4ca1a3;
    font-size: 25px;
    color: white;
    border-style: solid;
   
}
.footer-link{
    margin: 50px;
    font-size:xx-large;
    color:#114e60;
    background-color:none;
}